.toc {
  font-family: $sans-serif;
  color: $gray;
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;

  .nav__title {
    color: #fff;
    font-size: $type-size-6;
    background: $primary-color;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    padding: 0.75rem;
    margin: 0;
  }

  // Scrollspy marks toc items as .active when they are in focus
  .active a {
    @include yiq-contrasted($active-color);
    padding-left: 0.5rem;
    border-left: 2px solid $active-color;
  }
}

.toc__menu {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  font-size: $type-size-6;

  a {
    display: block;
    padding: 0.5rem 1rem;
    color: $text-color;
    font-size: $type-size-7;
    font-weight: bold;
    line-height: 1.5;
    border-bottom: 1px solid $border-color;

    &:hover {
      color: $link-color;
      background: mix($active-color, $background-color, 5%);
    }
  }

  li ul > li a {
    padding-left: 1.75rem;
    font-weight: normal;
  }

  /* hide sub sub links on small screens*/
  li > ul li {
    display: none;

    @include breakpoint($medium) {
      display: block;
    }
  }
}

.toc.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 2em;
  float: right;
  
  @include breakpoint($large) {
    width: auto;
    max-width: 15em;
  }
} 